

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rajdhani', Sans-serif;
}

body{
    display : flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:#222327;
}



.navigation {
    width: 500px;
    height : 110px;
    background-color: rgb(8, 8, 8);
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 44px;
}

.navigation ul {
    display: flex;
    width :350px;
    padding:20px;
}

.navigation ul li {
    position: relative;
    list-style:none;
    height:70px;
    width:70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width : 100%;
    text-align:center;
    font-weight : 500;
    color: #fff;
    padding : 30px;
}

.navigation ul li a .icon {
    position: relative;
    display:block;
    line-height : 75px ;
    font-size : 1.5em;
    text-align: center;
    transition: 0.5s;
}

.navigation ul:hover li a .icon{
    transform : translateY(-35px);
}

.navigation ul li:hover a .text{
    transform : translateY(35px);
    opacity: 1;
}

.navigation ul li a .text {
    position : absolute;
    font-weight :400;
    font-size : 0.75em;
    letter-spacing :0.05em;
    transition : 0.5s;
    opacity : 0;
}